

.hide{
  display: none;
}

.redBorder{
  border: 1px solid red;
}

.submitted {
  float: right;
  min-height: 100px;
  min-width: 100px;
  max-width: 30%;
  background-color: tomato;
  margin-right: 100px;
}

/*.submittedTitle {
  float: right;
}*/
.submitted p {
  display: inline-block;
}

.container {
  padding-top: 150px;
}

.bucket p {
  font-size: 75%;

}

/* display flex on columns
buckets get align-items: center*/

.column {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.bucket {
  height: 100px;
  /*width: 20%;*/
  min-width: 50px;
  background-color: lightblue;
  margin: 5%;
  overflow: hidden;
  white-space: pre-wrap;
  align-items: center;
  justify-content: center;


}

.row {

  margin-left: 0;
}
.columnHeight4{
  height: 230px;
}
.columnHeight8{
  height: 436px;
}

.columnHeight16{
  height: 824px;
}

.columnHeight32{
  height: 1648px;
}

.columnHeight64{
  height: 3296px;
}
