.bucket {
  height: 100px;
  width: 20%;
  min-width: 50px;
  background-color: lightblue;
  margin: 5%;
  overflow: hidden;
  white-space: pre-wrap;
}

.hide{
  display: none;
}

.redBorder{
  border: 1px solid red;
}

.submitted {
  float: right;
  min-height: 20%;
  min-width: 20%;
  max-width: 30%;
  background-color: tomato;
}

/*.submittedTitle {
  float: right;
}*/
.submitted p {
  display: inline-block;
}

.container {
  padding-top: 150px;
}

.bucket p {
  font-size: .75em;
}

/* display flex on columns
buckets get align-items: center*/
