@import url(https://fonts.googleapis.com/css?family=Muli);

p, h1, h2, h3, label, button{
  font-family: "Muli", sans-serif;
}
.hide{
  display: none;
}

.redBorder{
  border: 1px solid red;
}

.submitted {
  /*float: right;*/
  min-height: 100px;
  min-width: 100px;
  max-width: 30%;
  background-color: tomato;
  margin: auto;
}

/*.submittedTitle {
  float: right;
}*/
.submitted p {
  display: inline-block;


}

.container {
  padding-top: 10vh;
}

.bucket p {
  font-size: 75%;
  text-align: justify;
  
}

/* display flex on columns
buckets get align-items: center*/

.column {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.bucket {
  height: 100px;
  /*width: 20%;*/
  min-width: 50px;
  background-color: lightgrey;
  margin: 5%;
  overflow: hidden;
  white-space: pre-wrap;
  align-items: center;
  justify-content: center;
  border: 2px solid slategrey;
  text-align: center;
}

.row {

  margin-left: 0;
}
.columnHeight4{
  height: 230px;
}
.columnHeight8{
  height: 436px;
}

.columnHeight16{
  height: 824px;
}

.columnHeight32{
  height: 1648px;
}

.columnHeight64{
  height: 3296px;
}

header {
height: 700px;
text-align: center;
background:
linear-gradient(darkslateblue, transparent 80%),
linear-gradient(0deg, #fff, transparent 60%),
slategrey url(http://i.imgur.com/Ruj5nZb.jpg) no-repeat center;
padding-top: 12%;
color: white;
;
}

h1, h3 {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
}

h3 {
  margin-top: 25px;
}

#bracketize {
  display: block;
  margin:  30px auto;
  margin: bottom:
}

form {
text-align: center;
margin: 15%;
margin-bottom: 10%;
}

#clearBracket, #restoreBracket {
display: block;
margin: 5px auto;
}

#clearBracket {
  margin-top: 80px;
}
form button {
  margin: 15px;
}
